*,
::before,
::after {
  content: border-box;
  margin: 0;
  padding: 0;
}
.black {
  background-color: black;
}
.grey {
  background-color: grey;
}
.none {
  background-color: transparent;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
#app {
  padding-top: 1vh;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  background: radial-gradient(#0a0a75, #1f2277, #010221);
}
.score-container {
  background: hsl(112, 87%, 31%);
  box-shadow: 10px 10px 10px rgba(253, 45, 3, 0.97);
  font-family: sans-serif;
  font-style: oblique;
  color: #1f2277;
  font-size: 1.2rem;
  font-weight: 900;
  width: 20%;
  height: 35%;
  border-radius: 50%;
  margin: 5vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.play-and-result-wrapper {
  display: flex;
  justify-content: center;
}
.play-ground {
  background-image: linear-gradient(300deg, #3f200f, #6f3d1a, #7c5b3a, #96653c);
  box-shadow: 10px 10px 10px rgb(94, 99, 229);
  border-radius: 5%;
}
.game-solution {
  box-shadow: 8px 8px 8px #5a2e17;
  min-width: 70%;
  background-color: #27744a;
  border-radius: 30px;
}
@keyframes slideout {
  0% {
    height: 0px;
    width: 0px;
  }
  80% {
    height: 10px;
    width: 10px;
  }

  100% {
    height: 50px;
    width: 50px;
  }
}
.game-solution-peons {
  animation-name: slideout;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.betweenRows {
  display: flex;
  flex-direction: column-reverse;
  min-width: 50%;
}
.withinRow {
  box-shadow: 10px 10px 10px #3f200f;
  border: black 0.5px solid;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5vw;
}
.withinRow-peons {
  box-shadow: 4px 4px 8px;
}
.peons-row {
  background-color: #27744a;
  box-shadow: 8px 8px 8px #3f200f;
  border-radius: 40px;
}
.checkRowsContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.checkRow {
  background-color: #6fa667;
  border-radius: 10px;
  align-items: center;
  height: 3vw;
  width: 12vw;
}
.restart-button {
  background-color: transparent;
  color: blue;
  opacity: 0.6;
  height: 3vw;
  width: 8vw;
  box-shadow: 1px 1px 1px #1f2277;
  border-radius: 10px;
}
.continue-button {
  height: 3vw;
  width: 10vw;
  box-shadow: 7px 7px 7px #1f2277;
  border-radius: 10px;
}
@media screen and (max-width: 734px) {
  #app {
    flex-direction: column-reverse;
  }
  .score-container {
    background: hsl(112, 87%, 31%);
    box-shadow: 10px 10px 10px rgba(253, 45, 3, 0.97);
    font-family: sans-serif;
    color: #1f2277;
    font-size: 1rem;
    font-weight: 900;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .restart-button {
    font-size: xx-small;
    background-color: transparent;
    color: blue;
    opacity: 0.6;
    height: 3vw;
    width: 12vw;
    box-shadow: 1px 1px 1px #1f2277;
    border-radius: 10px;
    margin-top: 0.5vh;
  }
  .continue-button {
    font-size: xx-small;
    height: 3vw;
    width: 15vw;
    box-shadow: 3px 3px 3px #1f2277;
    border-radius: 10px;
  }
  .play-ground {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 70vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 15vw;
  }
  .play-and-check-container {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .game-solution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    margin: 1vw;
  }
  .peons-row {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 20%;
    margin-left: -20vw;
    margin-top: 6vh;
  }
  .peon-choice {
    border: black 0.5px solid;
    width: 1.75vw;
    height: 1.75vw;
    border-radius: 50%;
  }
  .insideCheckRows {
    height: 3vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
  }
  .peon-shape {
    border: 0.5px solid black;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
  }
  .peon-in-check-row {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
  }
}
@media screen and (min-width: 735px) and (max-width: 999px) {
  .play-and-result-wrapper {
    width: 80%;
    height: 98vh;
  }
  .play-and-check-container {
    max-height: 80vh;
    display: flex;
    justify-content: space-around;
  }
  .play-ground {
    display: flex;
    margin: auto;
    padding-top: 4vh;
    flex-direction: column;
    height: 90%;
    width: 80%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  .game-solution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vw;
    margin-bottom: 3vw;
  }
  .peons-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 15vw;
  }
  .peon-shape {
    border: 0.5px solid black;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
  }
  .peon-in-check-row {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
  }
  .insideCheckRows {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1000px) {
  .play-ground {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    width: 80%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  .peons-row {
    position: absolute;
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 17vh;
  }
  .betweenRows {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    max-height: 90%;
  }
  .play-and-check-container {
    position: absolute;
    max-height: 70vh;
    margin-top: 17vh;
    margin-left: 19%;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .play-and-result-wrapper {
    width: 100%;
    height: 90vh;
    margin: 4vh;
  }
  .game-solution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin: 3% 10% 0 10%;
  }
  .peon-shape {
    border: 0.5px solid black;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
  }
  .peon-in-check-row {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
  }
  .insideCheckRows {
    display: flex;
    justify-content: space-around;
  }
  .checkRow {
    align-items: center;
    height: 4vh;
    width: 7vw;
    margin: 1vh 0 1vh 0;
  }
}
