*,
::before,
::after {
  content: border-box;
  margin: 0;
  padding: 0;
}
.black {
  background-color: black;
}
.grey {
  background-color: rgb(236, 233, 233);
}
.none {
  background-color: transparent;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
#app {
  padding-top: 1.5vh;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  background: linear-gradient(-30deg,#1f2277, #208AAE, #B8DBD9, #F4F4F9);
}
@keyframes solutionPeonsSprout {
  0% {
    height: 0px;
    width: 0px;
  }
  20% {
    height: 10px;
    width: 10px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
.game-solution-peons {
  animation-name: solutionPeonsSprout;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}
@keyframes containerSprout {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.score-container {
  box-shadow: 3px 3px 7px ;
  background: #27744A;
  font-family: sans-serif;
  font-style: oblique;
  color: #D3FAD6;
  font-size: 1.2rem;
  font-weight: 900;
  width: 20%;
  height: 35%;
  border-radius: 10%;
  margin: 5vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infos-container {
  box-shadow: 3px 3px 7px ;
  animation-name: containerSprout;
  animation-duration: 1.6s;
  background: #27744A;
  font-family: sans-serif;
  font-style: oblique;
  color: #D3FAD6;
  font-size: 1.2rem;
  font-weight: 900;
  width: 20%;
  height: 35%;
  border-radius: 10%;
  margin: 5vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winLooseMessage {
  animation-name: containerSprout;
  animation-duration: 1.6s;
}
.continue-button {
  color: #D3FAD6;
  font-size: large;
  animation-name: containerSprout;
  animation-duration: 1.6s;
  height: 3vw;
  width: 10vw;
  /* box-shadow: 7px 7px 7px #1f2277; */
  border-radius: 10px;
}
.restart-button {
  font-size:large;
  font-weight: bold;
  animation-name: containerSprout;
  animation-duration: 1.6s;
  background-color: transparent;
  color: #D3FAD6;
  opacity: 0.6;
  height: 3vw;
  width: 8vw;
  box-shadow: 1px 1px 1px #1f2277;
  border-radius: 10px;
}
.play-and-result-wrapper {
  display: flex;
  justify-content: center;
}
.play-ground {
  background-image: linear-gradient(-30deg, #3f200f, #6f3d1a, #7c5b3a, #96653c);
  box-shadow: 3px 3px 10px #D3FAD6;
  border-radius: 5%;
}
.game-solution {
  margin-inline: auto;
  box-shadow:4px 4px 4px  #5a2e17;
  width: 87%;
  background-color: #27744a;
  border-radius: 20px;
}
.betweenRows {
  display: flex;
  flex-direction: column-reverse;
  min-width: 50%;
}
.withinRow {
  box-shadow: 1px 1px 2px ;
  border: black 0.5px solid;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5vw;
  border-radius: 5px;
}
.withinRow-peons {
  box-shadow: 2px 2px 0;
}
.peons-row {
  height: 15vh;
  width:98%;
  margin-inline: auto;
  background-color: #27744a;
  box-shadow: 4px 4px 4px #3f200f;
  border-radius: 20px;
}
.checkRowsContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.checkRow {
  background-color: #6fa667;
  border-radius: 7px;
  align-items: center;
  height: 3vw;
  width: 12vw;
}
button {
  background-color: #744A28;
  font-size: 0.5rem;
  color: #3f200f;
  height: 3vw;
  width: 15vw;
  border-radius: 10px;
}
@media screen and (max-width: 759px) {
  #app {
    justify-content:center;
  }
  .score-container {
    position: absolute;
    justify-content: space-around;
    font-size: 1rem;
    width: 15vw;
    height: 9vh;
    padding-top: 1vh;
    margin-top: 3vh;
  }
  .infos-container {
    position: absolute;
    justify-content: space-around;
    font-size: 1rem;
    width: 15vw;
    height: 9vh;
    padding-top: 1vh;
    margin-top: 18vh;
  }
  .continue-button {
    font-size: small;
    height: 25%;
    width: 70%;
    /* box-shadow: 5px 5px 8px #30339a; */
    border-radius: 10px;
    font-size: x-small;
  }
  .restart-button {
    font-size: small;
    height: 25%;
    width:60%;
    margin-top: 0.3vh;
    margin-bottom: 0.7vh;font-size: x-small;
  }
  .play-ground {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 78vh;
    width: 50vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
    margin-left: -25vw;
  }
  .play-and-check-container {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .game-solution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vw;
    /* margin: 1vw; */
  }
  .peons-row {
    box-shadow: 0 0;
    /* position: absolute; */
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-around;
    align-items: center;
     height: 6vh;
    width: 95%; 
    /* margin-left: -18vw; */
    /* margin-top: 7vh; */
  }
  /* .peon-choice {
    border: black 0.5px solid;
    width: 1.75vw;
    height: 1vw;
    border-radius: 50%;
  } */
  .insideCheckRows {
    height: 2vh;
    width: 10vw;
    display: flex;
    justify-content: space-around;
  }
  .peon-shape {
    border: 0.5px solid black;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
  }
  .peon-in-check-row {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
  }
}
@media screen and (min-width: 760px) and (max-width: 999px) {
  .score-container {
    margin-top: 2.5vh;
    font-size: x-large;
    height: 10%;
    min-width: 15vw;
  }
  .infos-container {
    font-size: x-large;
    height: 20%;
    min-width: 15vw;
    justify-content: center;
  }
  .continue-button {
    font-size: small;
    margin: 2vh 0 2vh 0;
    /* box-shadow: 3px 3px 3px #1f2277; */
  }
  .restart-button {
    font-size: small;
  }
  .play-and-result-wrapper {
    margin-left: 3vw;
    width: 70vw;
    height: 90vh;
  }
  .play-and-check-container {
    max-height: 90vh;
    display: flex;
    justify-content: space-around;
  }
  .play-ground {
    display: flex;
    padding-top: 2vh;
    flex-direction: column;
    height: 87vh;
    width: 60vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top:2.5vh;
  }
  .betweenRows {
    height: 65vh;
    display: flex;
    flex-direction: column-reverse;
    min-width: 50%;
  }
  .game-solution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vw;
    margin-bottom: 3vw;
  }
  .peons-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
   
  }
  .peon-shape {
    border: 0.5px solid black;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
  }
  .peon-in-check-row {
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
  }
  .insideCheckRows {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1000px) {
  .score-container {
    font-size: x-large;
    height: 10%;
    width: 20vw;
    margin-right: 2.5vw;
    justify-content: center;
    align-items: center;
  }
  .infos-container {
    font-size: xx-large;
    height: 30%;
    width: 20vw;
    margin-right: 2.5vw;
   justify-content: center; 
  }
  .continue-button {
    margin: 2vh 0 2vh 0;
    /* box-shadow: 3px 3px 3px #1f2277; */
  }
  .reset-button {
    height: 3vw;
    width: 15vw;
    font-size: .8rem;
  }
  .play-ground {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    width: 70vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  .peons-row {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 17vh; */
  }
  /* .betweenRows {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  } */
  .play-and-check-container {
    border: red 3px solid;
    position: absolute;
    height: 70vh;
    margin-top: 17vh;
    margin-inline: auto;
    /* margin-left: 19%; */
    width: 50vw;
    display: flex;
    justify-content: center;
  }
  .play-and-result-wrapper { border: black 3px solid;
    width: 60vw;
    height: 90vh;
    margin: 4vh;
  }
  .game-solution { border: black 3px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin: 3% 10% 0 10%;
  }
  .peon-shape {
    border: 0.5px solid black;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
  }
  .peon-in-check-row {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
  }
  .insideCheckRows {
    display: flex;
    justify-content: space-around;
  }
  /* .checkRow {
    align-items: center;
    height: 4vh;
    width: 7vw;
    margin: 1vh 0 1vh 0;
  } */
}
